<div class="container-quem-somos">
    <ul>
        <li>
            <h1>Visão</h1>
            <p>
                Somos uma igreja contemporânea, fiel a Jesus Cristo e a Bíblia, relevante
                ao seu contexto urbano e comprometida com a grande comissão. Cremos que um
                arrependimento genuíno é o grande passo para a santificação, permitindo a
                Cristo Jesus perdoar, salvar, edificar, avivar e finalmente enviar.
            </p>
        </li>

        <li>
            <h1>Missão</h1>
            <p>
                Buscar a glória de Deus, por meio da adoração racional, um
                intenso respeito a totalidade das sagradas escrituras,
                evangelização de pessoas, comunhão, ação social e crescimento
                espiritual dos seus membros.
            </p>
        </li>

        <li>
            <h1>O que cremos</h1>
            <ul>
                <li>
                    <p>
                        Cremos que a Bíblia é inspirada e inerrante, a única regra infalível de fé e pratica.
                    </p>
                </li>
                <li>
                    <p>
                        Cremos em um único Deus Criador e Sustentador de todas as coisas, o qual subsiste em
                        três pessoas: Deus Pai, Deus Filho e Deus Espírito Santo.
                    </p>
                </li>
                <li>
                    <p>
                        Cremos que pecado é a total depravação da natureza humana, a qual impossibilita
                        o ser humano de realizar a sua própria salvação.
                    </p>
                </li>
                <li>
                    <p>
                        Cremos que Jesus Cristo é o único meio da salvação para o ser humano.
                        A salvação é pela graça por meio da fé!
                    </p>
                </li>
                <li>
                    <p>
                        Cremos que somente o evangelho por intermédio da ação do Espírito Santo
                        tem poder para salvar e transformar vidas.
                    </p>
                </li>
                <li>
                    <p>
                        Cremos que a igreja é composta por todas as pessoas que foram salvas
                        pela fé em Jesus Cristo e santificadas pelo Espírito Santo.
                    </p>
                </li>
                <li>
                    <p>
                        Cremos na segunda volta de Cristo, na ressurreição do corpo, na
                        vida eterna e no juízo final.
                    </p>
                </li>
            </ul>
        </li>

        <li>
            <h1>Doutrina</h1>
            <p>
                A 70X7 Church crê que uma teologia correta, equilibrada e bíblica é essencial
                para a vida do cristão. Todo crente, mesmo sem o saber, tem concepções teológicas
                e essas concepções irão influenciar todos os aspectos da sua vida cristã. Nós não
                valorizamos a teologia pela teologia, mas como um instrumento para nos proporcionar
                um melhor conhecimento de Deus e do nosso relacionamento com ele.
            </p>
            <p>Portanto, cremos que o fundamento maior da fé são as Escrituras do Antigo e do Novo
                Testamento, nossa única regra de fé e prática.
            </p>
        </li>
    </ul>
</div>
