<mat-toolbar color="primary">
    <div class="container-header">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="screenWidth < 850" [ngStyle]="{'display: none': screenWidth > 850}" class="mobile-menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu
            #menu="matMenu"
            [xPosition]="'before'"
            [yPosition]="'below'"
        >
            <a mat-menu-item href="#live">CULTO ONLINE</a>
            <a mat-menu-item href="#louvor">FAÇA SUA PARTE</a>
            <a mat-menu-item href="#live">QUEM SOMOS</a>
            <a mat-menu-item href="/edm">EDM</a>
        </mat-menu>
        <div>
            <a class="setenta">70X7</a>
            <a class="pipe">|</a>
            <a class="church">CHURCH</a>
        </div>
        <div class="menu" >
            <a href="#live">CULTO ONLINE</a>
            <a>|</a>
            <a href="#louvor">FAÇA SUA PARTE</a>
            <a>|</a>
            <a href="#live">QUEM SOMOS</a>
            <a>|</a>
            <a href="/edm">EDM</a>
        </div>


    </div>
</mat-toolbar>
<div class="container-tab">
    <mat-tab-group>
        <mat-tab label="P.Norte">
            <div class="container-body">
                <h1> Anfitriões: Caio e Ceiça</h1>
                <span>
                    contato: (61) 98506-5501/98479-5770
                </span>
                <div class="mapouter" style="margin-bottom: 2rem;">
                    <div class="gmap_canvas">
                        <iframe height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Setor%20A%20Sul%20CSA%203%2070x7%20Church%20-%20Taguatinga,%20Bras%C3%ADlia%20-%20DF&t=&z=17&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                        <br>
                        <a href="https://www.embedgooglemap.net">google maps webpage</a>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Taguatinga Norte">
            <div class="container-body">
                <h1>
                    Anfitriões: Kley e Thaise
                </h1>
                <span>
                    contato: (61) 98318-9760/98262-3094
                </span>
                <div class="mapouter" style="margin-bottom: 2rem;">
                    <div class="gmap_canvas">
                        <iframe height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Setor%20A%20Sul%20CSA%203%2070x7%20Church%20-%20Taguatinga,%20Bras%C3%ADlia%20-%20DF&t=&z=17&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                        <br>
                        <a href="https://www.embedgooglemap.net">google maps webpage</a>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Samambaia Sul">
            <div class="container-body">
                <h1>
                    Anfitriões: Matheus e Ariane
                </h1>
                <span>
                    contato: (61) 98405-8145/ 995078722
                </span>
                <div class="mapouter" style="margin-bottom: 2rem;">
                    <div class="gmap_canvas">
                        <iframe height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Setor%20A%20Sul%20CSA%203%2070x7%20Church%20-%20Taguatinga,%20Bras%C3%ADlia%20-%20DF&t=&z=17&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                        <br>
                        <a href="https://www.embedgooglemap.net">google maps webpage</a>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Águas Claras">
            <div class="container-body">
                <h1>
                    Anfitriões: Wisley e Cris
                </h1>
                <span>
                    contato: (21) 98381-4880/99290730
                </span>
                <div class="mapouter" style="margin-bottom: 2rem;">
                    <div class="gmap_canvas">
                        <iframe height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Setor%20A%20Sul%20CSA%203%2070x7%20Church%20-%20Taguatinga,%20Bras%C3%ADlia%20-%20DF&t=&z=17&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                        <br>
                        <a href="https://www.embedgooglemap.net">google maps webpage</a>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Sobradinho">
            <div class="container-body">
                <h1>
                    Anfitriões: Rafeal Coelho
                </h1>
                <span>
                    contato: (61) 98343-5624
                </span>
                <div class="mapouter" style="margin-bottom: 2rem;">
                    <div class="gmap_canvas">
                        <iframe height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Setor%20A%20Sul%20CSA%203%2070x7%20Church%20-%20Taguatinga,%20Bras%C3%ADlia%20-%20DF&t=&z=17&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                        <br>
                        <a href="https://www.embedgooglemap.net">google maps webpage</a>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="P.Norte">
            <div class="container-body">
                <h1>
                    Anfitriões: Luã Cosme
                </h1>
                <span>
                    contato: (61) 98250-0917
                </span>
                <div class="mapouter" style="margin-bottom: 2rem;">
                    <div class="gmap_canvas">
                        <iframe height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Setor%20A%20Sul%20CSA%203%2070x7%20Church%20-%20Taguatinga,%20Bras%C3%ADlia%20-%20DF&t=&z=17&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                        <br>
                        <a href="https://www.embedgooglemap.net">google maps webpage</a>
                    </div>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>
