<div class="body">
    <div class="img-container" id="home"></div>
    <div class="first-info">
        <div class="card-first-info">
            <h1>
                QUERO VIVER O NOVO
            </h1>
            <p>Dê o primeiro passo pra viver os melhores dias da sua vida!</p>
            <button mat-raised-button color="primary"><a href="#contato">CLIQUE AQUI</a></button>
        </div>
        <div class="card-first-info">
            <h1>FAÇA SUA PARTE</h1>
            <p>Conheça nossa edificacão mútua (leitura bliblica nos lares).</p>
            <button mat-raised-button color="primary">CLIQUE AQUI</button>
        </div>
        <div class="card-first-info">
            <h1>SÉRIE DE MENSAGENS</h1>
            <p>Inscreva-se agora no nosso canal, e não perca nenhum conteúdo.</p>
            <button mat-raised-button color="primary" (click)="goToYt()">CLIQUE AQUI</button>
        </div>
    </div>
    <div class="yt" id="live">
        <h1>Culto On-line</h1>
        <youtube-player
            #player
            videoId="2DqHHcjtmhM"
            (ready)="onReady($event)"
            (stateChange)="onStateChange($event)"
        ></youtube-player>
    </div>
    <h1>Cultos Presenciais</h1>
    <div class="cultos">
        <div class="img-container">
            <div class="card-cultos">
                <div class="card-item-cultos">
                    <h1>DOMINGO</h1>
                    <p>16h30min</p>
                    <p>19h</p>
                </div>

                <div class="card-item-cultos">
                    <h1>TERCA EDM</h1>
                    <p>20h</p>
                </div>

                <div class="card-item-cultos">
                    <h1>QUARTA</h1>
                    <p>20h30min</p>
                </div>
            </div>
        </div>
    </div>
    <div class="louvor-financeiro" id="louvor">
        <h1>Louvir Financeiro</h1>
        <div class="container-louvor-financeiro">
            <div class="content-louvor-financeiro">
                <div>
                    <p>Seja bem-vindo a  70X7! </p>
                    <p> Somos uma igreja pautada na cultura de amor e graça. </p>
                </div>
                <div class="pix-card">
                    <div class="pix-qr-code"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="contato" id="contato">
        <h1>Contato/Localização</h1>
        <div class="contato-container">
            <div class="text">
                <p>Envie sua mensagem para:</p>
                <span>contato70x7church@gmail.com</span>
            </div>
            <div class="mapouter" style="margin-bottom: 2rem;">
                <div class="gmap_canvas">
                    <iframe height="500" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=Setor%20A%20Sul%20CSA%203%2070x7%20Church%20-%20Taguatinga,%20Bras%C3%ADlia%20-%20DF&t=&z=17&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                    <br>
                    <a href="https://www.embedgooglemap.net">google maps webpage</a>
                </div>
            </div>
        </div>
    </div>
