<div class="img-container" id="home"></div>
<div class="first-info">
    <div class="card-first-info">
        <h1>
            QUERO VIVER O NOVO
        </h1>
        <p>
            A 70X7 Church, é uma igreja protestante,
            carismática, com exposição bíblica reformada e adoração carismática, cremos na contemporaneidade
            dos dons e no batismo com o Espírito Santo!
        </p>
        <button mat-raised-button color="primary"><a href="#live">CLIQUE AQUI</a></button>
    </div>
    <div class="card-first-info">
        <h1>FAÇA SUA PARTE</h1>
        <p>Conheça nossa edificacão mútua (leitura bliblica nos lares).</p>
        <button mat-raised-button color="primary"><a href="/edm">CLIQUE AQUI</a></button>
    </div>
    <div class="card-first-info">
        <h1>SÉRIE DE MENSAGENS</h1>
        <p>Inscreva-se agora no nosso canal, e não perca nenhum conteúdo.</p>
        <button mat-raised-button color="primary" (click)="goToYt()">CLIQUE AQUI</button>
    </div>
</div>
