mat-tab-group {
    margin-top: 71px;
}
.mapouter{
    position: relative;
    text-align: right;
    height: 600px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gmap_canvas {
    height: 600px;
    width: 100vw;
}
.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 600px;
    width: 100vw;
}
