<mat-tab-group backgroundColor="primary">
    <mat-tab label="P.Norte">
        <h1> Anfitriões: Caio e Ceiça</h1>
        <span>
            contato: (61) 98506-5501/98479-5770
        </span>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe
                    class="gmap_iframe"
                    width="100%"
                    height="600"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=600&amp;hl=en&amp;q=QNP 21 Conjunto A&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Taguatinga Norte">
        <h1>
            Anfitriões: Kley e Thaise
        </h1>
        <span>
            contato: (61) 98318-9760/98262-3094
        </span>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe
                    class="gmap_iframe"
                    width="100%"
                    height="600"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=500&amp;hl=en&amp;q=QNM 38 Conjuto B2&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Samambaia Sul">
        <h1>
            Anfitriões: Matheus e Ariane
        </h1>
        <span>
            contato: (61) 98405-8145/ 995078722
        </span>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe
                    class="gmap_iframe"
                    width="100%"
                    height="600"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=500&amp;hl=en&amp;q=qr314 conjunto 4A &amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Águas Claras">
        <h1>
            Anfitriões: Wisley e Cris
        </h1>
        <span>
            contato: (21) 98381-4880/99290730
        </span>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe
                    class="gmap_iframe"
                    width="100%"
                    height="600"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=500&amp;hl=en&amp;q=Rua 21 norte lote 5&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
                <a href="https://pdflist.com/" alt="pdf download">Pdf download</a>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Sobradinho">
        <h1>
            Anfitriões: Rafeal Coelho
        </h1>
        <span>
            contato: (61) 98343-5624
        </span>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe
                    class="gmap_iframe"
                    width="100%"
                    height="600"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Q 8 conjunto E - Sobradinho, Brasília - DF, 73025-060&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="P.Norte 2">
        <h1>
            Anfitriões: Luã Cosme
        </h1>
        <span>
            contato: (61) 98250-0917
        </span>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe
                    class="gmap_iframe"
                    width="100%"
                    height="600"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=500&amp;hl=en&amp;q=QNP 23 conjuto D&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>
