$primary-church-palette: (
  50: #fff6e0,
  100: #ffe8b3,
  200: #ffd980,
  300: #ffca4d,
  400: #ffbe26,
  500: #ffb300,
  600: #ffac00,
  700: #ffa300,
  800: #ff9a00,
  900: #ff8b00,
  A100: #ffffff,
  A200: #fff9f2,
  A400: #ffdfbf,
  A700: #ffd2a6,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);

$mat-red: (
  A700: #d71921,
  contrast: (
    A700: white,
  ),
);

$accent-church-palette: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
