@use '@angular/material' as mat;
@import "./custom-palettes";


$church-primary: mat.define-palette($primary-church-palette, 700);
$church-accent: mat.define-palette($accent-church-palette, 100);

$church-warn: mat.define-palette(mat.$red-palette, A200);

$church-theme: mat.define-light-theme(
  (
    color: (
      primary: $church-primary,
      accent: $church-accent,
      warn: $church-warn,
    ),
  )
);

// font-family: 'Akrobat', sans-serif;
// font-family: 'Akrobat Light', sans-serif;
// font-family: 'Akrobat ExtraLight', sans-serif;
// font-family: 'Akrobat SemiBold', sans-serif;
// font-family: 'Akrobat Bold', sans-serif;
// font-family: 'Akrobat ExtraBold', sans-serif;
// font-family: 'Akrobat Black', sans-serif;
@include mat.all-component-themes($church-theme);

html,
body {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  button {
    font-family: 'Akrobat Bold', sans-serif;
  }
}
body {
  margin: 0 0 1rem 0;
  font-family: 'Akrobat SemiBold', sans-serif;
}

button {
  font-family: 'Akrobat SemiBold', sans-serif;
}

:root {
  --background-default-menu: #3f51b5;
  --primary-background-color: #f5f6f8;
  --secondary-background-color: #fafafa;

  --primary-default: #023f88;
  --primary-dark: #012550;
  --primary-light: #066ce7;

  --color-primary: #023f88;
  --color-secondary: #d71921;
  --color-blue: #012550;
  --color-blue-accent: #0298fc;
  --color-blue-accent2: #f4faff;
  --color-red: #ff5375;
  --color-red-accent: #f7444e;
  --color-red-accent2: #fff5f5;
  --color-green: #82bc39;
  --color-yellow: #ea9f28;
  --color-true-black: #000;
  --color-black: #000000de;
  --color-black2: #0000008a;
  --color-black3: #0000003a;
  --color-black4: #00000057;
  --color-black5: #a7a7a7;
  --color-light-black: #212121;
  --color-gray: #757575;
  --color-gray-accent: #b2b2b2;
  --color-gray-accent2: #bbbbbb;
  --color-white: #fff;
  --color-white-accent: #fafafa;
  --color-white-accent2: #f7f7f7;
  --color-white-accent3: #f4f4f4;
  --color-white-accent4: #efefef;

  --color-progress-bar: #e6e6e6;
  --color-progress-bar-fill: #d9d9d9;

  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;

  --text-headline: 400 24px;
  --text-title: 500 20px;
  --text-subheader: 500 16px;
  --text-body: 400 14px;
  --text-body2: 500 14px;
  --text-caption: 500 12px;

  --title-primary: 1.5em;
  --text-primary: 1em;
  --padding-8: 8px;
  --padding-16: 16px;
  --padding-24: 24px;
  --padding-32: 32px;
  --padding-40: 40px;
}

