<h1>Cultos Presenciais</h1>
<div class="cultos">
    <div class="img-container">
        <div class="card-cultos">
            <div class="card-item-cultos">
                <h1>DOMINGO</h1>
                <p>16h30min</p>
                <p>19h</p>
            </div>

            <div class="card-item-cultos">
                <h1>TERÇA EDM</h1>
                <p>20h</p>
            </div>

            <div class="card-item-cultos">
                <h1>QUARTA</h1>
                <p>20h30min</p>
            </div>
        </div>
    </div>
</div>
