<div class="body">
    <app-header></app-header>
    <app-culto-online></app-culto-online>
    <app-culto-presencial></app-culto-presencial>
    <app-louvor-financeiro></app-louvor-financeiro>
    <app-contato></app-contato>
    <footer>
        <div class="divider">
            <span></span>
        </div>
        <div class="copyrigth">
            <div>
                <img src="../../../assets/square-instagram.svg" class="icons" (click)="goToInstagram()">
                <img src="../../../assets/youtube.svg" class="icons-yt" (click)="goToYt()">
            </div>
            <span>
                © 2023 70X7 CHURCH. All Rights Reserved
            </span>
        </div>
    </footer>
</div>
